*.c linguist-language=c
*.h linguist-language=c
*.php linguist-documentation
*.css linguist-documentation
*.txt linguist-documentation
LICENSE linguist-documentation
Makefile.am linguist-vendored
configure.ac linguist-vendored
